<lu-page-header [label]="pages.character" />

<lu-fancy-box
  backgroundLeft="https://cdn.lucca.fr/transverse/prisme/visuals/fancy-box/background-left-bubbles.svg"
  backgroundRight="https://cdn.lucca.fr/transverse/prisme/visuals/fancy-box/background-right-bubbles.svg"
  foreground="./assets/icon.png"
>
  <h3>Progression Globale</h3>
  <p class="pr-u-marginTop100">
    <span class="u-h2">Niveau</span>
    <span class="u-h1 pr-u-marginLeft50 u-textPrimary">{{ stats.level }}</span>
  </p>
  <div class="progress pr-u-marginTop100 u-textAlignCenter u-width100%">
    <div class="progress-bar" [attr.style]="'width:' + (stats.currentXP / stats.xpToNextLevel) * 100 + '%'">
      {{ stats.currentXP }}/{{ stats.xpToNextLevel }} XP
    </div>
  </div>
</lu-fancy-box>

<div class="grid pr-u-marginTop400 pr-u-gap400" style="--grid-columns: 3; --grid-colspan: 3">
  @for (caractKey of CaractKeys; track caractKey) {
    <div class="grid-column" [attr.style]="'--grid-colspanAtMediaMinM: 1'">
      @if (stats.caracts[caractKey]; as statCaract) {
        <notch
          [heading]="Caracteristics[caractKey].libelle"
          [badge]="statCaract.level"
          [tag]="Caracteristics[caractKey].code"
          [palette]="Caracteristics[caractKey].color"
        >
          <p class="pr-u-marginBottom200">{{ Caracteristics[caractKey].description }}</p>
          <div class="progress">
            <div
              class="progress-bar"
              [attr.style]="'width:' + (statCaract.currentXP / statCaract.xpToNextLevel) * 100 + '%'"
            >
              {{ statCaract.currentXP }} XP
            </div>
          </div>
        </notch>
      }
    </div>
  }
</div>
