<nav class="mobileNavigation">
  <ul class="mobileNavigation-list">
    <li class="mobileNavigation-list-item">
      <a
        class="mobileNavigation-list-item-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
      >
        <span aria-hidden="true" class="lucca-icon icon-peoplePerson"></span>
        Personnage
      </a>
    </li>
    <li class="mobileNavigation-list-item">
      <a
        class="mobileNavigation-list-item-link"
        routerLink="/quests"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span aria-hidden="true" class="lucca-icon icon-timeTimesheet"></span>
        Quêtes
      </a>
    </li>
    <li class="mobileNavigation-list-item">
      <a
        class="mobileNavigation-list-item-link"
        routerLink="/dungeons"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span aria-hidden="true" class="lucca-icon icon-moneyBuildingBank"></span>
        Donjons
      </a>
    </li>
    <li class="mobileNavigation-list-item">
      <a
        class="mobileNavigation-list-item-link"
        routerLink="/inventory"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span aria-hidden="true" class="lucca-icon icon-gift"></span>
        Inventaire
      </a>
    </li>
  </ul>
</nav>
