<nav class="mobileNavigation">
  <ul class="mobileNavigation-list">
    <li class="mobileNavigation-list-item">
      <a
        class="mobileNavigation-list-item-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
      >
        <span aria-hidden="true" class="lucca-icon icon-peoplePerson"></span>
        {{ pages.character }}
      </a>
    </li>
    <li class="mobileNavigation-list-item">
      <a
        class="mobileNavigation-list-item-link"
        routerLink="/quetes"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span aria-hidden="true" class="lucca-icon icon-timeTimesheet"></span>
        {{ pages.quests }}
      </a>
    </li>
    <li class="mobileNavigation-list-item">
      <a
        class="mobileNavigation-list-item-link"
        routerLink="/donjons"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span aria-hidden="true" class="lucca-icon icon-moneyBuildingBank"></span>
        {{ pages.dungeons }}
      </a>
    </li>
    <li class="mobileNavigation-list-item">
      <a
        class="mobileNavigation-list-item-link"
        routerLink="/inventaire"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span aria-hidden="true" class="lucca-icon icon-gift"></span>
        {{ pages.inventory }}
      </a>
    </li>
  </ul>
</nav>
