<div class="mobileHeader">
  <a class="link u-displayFlex u-alignItemsCenter pr-u-gap100" routerLink="/tableau-de-bord">
    <img class="mobileHeader-image" src="./assets/icon.png" alt="Retour vers l'accueil" />
    <img class="mobileHeader-image u-displayNoneAtMediaMinM" src="./assets/text.png" alt="Retour vers l'accueil" />
  </a>
  @if (isConnected) {
    @if (character) {
      <div class="mobileHeader-title u-displayNoneAtMediaMaxM">
        <h1 class="mobileHeader-title-main">{{ character.lastName }} {{ character.firstName }}</h1>
        <div class="mobileHeader-title-sub">Débutant {{ character.isAdmin ? '(Admin)' : '' }}</div>
      </div>
    }
    <div class="mobileHeader-actions">
      <div class="u-displayNoneAtMediaMinM">
        <div class="u-displayFlex u-alignItemsCenter pr-u-gap100">
          @if (character) {
            <div class="u-textAlignRight">
              <h1 class="mobileHeader-title-main">{{ character.lastName }} {{ character.firstName }}</h1>
              <div class="mobileHeader-title-sub">Débutant {{ character.isAdmin ? '(Admin)' : '' }}</div>
            </div>
            <span class="avatar">
              <img class="avatar-picture" loading="lazy" [src]="avatarURL" alt="Avatar" />
            </span>
          }
          <a luButton="text" routerLink="/parametres">
            <lu-icon icon="settingsTools" [alt]="pages.params" />
          </a>
          <button type="button" luButton="text" disabled>
            <lu-icon icon="bell" [alt]="pages.notifs" />
          </button>
          <button type="button" luButton="text" (click)="logout()">
            <lu-icon icon="arrowLogout" [alt]="pages.logout" />
          </button>
        </div>
      </div>
      <button type="button" luButton="text" class="u-displayFlexAtMediaMaxM" [luDropdown]="dropdown">
        <lu-icon icon="menuDots" alt="Voir plus d'options" />
      </button>
      <lu-dropdown #dropdown>
        <li class="dropdown-list-option">
          <a routerLink="/parametres" class="dropdown-list-option-action" luDropdownItem>
            <lu-icon icon="settingsTools" />
            {{ pages.params }}
          </a>
        </li>
        <li class="dropdown-list-option">
          <button type="button" class="dropdown-list-option-action is-disabled" luDropdownItem>
            <lu-icon icon="bell" />
            {{ pages.notifs }}
          </button>
        </li>
        <li class="dropdown-list-option">
          <a routerLink="/mentions-legales" class="dropdown-list-option-action" luDropdownItem>
            <lu-icon icon="signHelp" />
            {{ pages.legacy }}
          </a>
        </li>
        <li class="dropdown-list-option">
          <button type="button" class="dropdown-list-option-action" luDropdownItem (click)="logout()">
            <lu-icon icon="arrowLogout" />
            {{ pages.logout }}
          </button>
        </li>
      </lu-dropdown>
    </div>
  }
</div>
