<lu-dialog #dialog>
  <form class="dialog-inside-formOptional">
    <lu-dialog-header>
      <h1>Modification du personnage</h1>
    </lu-dialog-header>

    <lu-dialog-content>
      <div class="grid pr-u-gap400" style="--grid-columns: 2; --grid-colspan: 2">
        <div
          class="grid-column card u-displayFlex u-flexDirectionColumn pr-u-gap100"
          [attr.style]="'--grid-colspanAtMediaMinM: 1'"
        >
          <div class="pr-u-marginAuto">
            <span class="avatar mod-XXXL">
              <img class="avatar-picture" loading="lazy" [src]="avatarURL" alt="Avatar" />
            </span>
          </div>
          <h2>Pseudo</h2>
          <lu-form-field label="Nom">
            <lu-simple-select [options]="adjectives" [(ngModel)]="lastName" [ngModelOptions]="{ standalone: true }" />
          </lu-form-field>
          <lu-form-field label="Prénom">
            <lu-simple-select [options]="nouns" [(ngModel)]="firstName" [ngModelOptions]="{ standalone: true }" />
          </lu-form-field>
        </div>
        <div
          class="grid-column card u-displayFlex u-flexDirectionColumn pr-u-gap100"
          [attr.style]="'--grid-colspanAtMediaMinM: 1'"
        >
          <h2>Avatar</h2>
          <lu-form-field label="Sourcils" tooltip="Valeur entre 1 et 15">
            <lu-number-input
              [step]="1"
              [min]="1"
              [max]="15"
              [(ngModel)]="avatar.eyebrows"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="update()"
            />
          </lu-form-field>
          <lu-form-field label="Yeux" tooltip="Valeur entre 1 et 26">
            <lu-number-input
              [step]="1"
              [min]="1"
              [max]="26"
              [(ngModel)]="avatar.eyes"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="update()"
            />
          </lu-form-field>
          <lu-form-field label="Avec lunettes">
            <lu-checkbox-input
              [(ngModel)]="avatar.hasGlasses"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="update()"
            />
          </lu-form-field>
          @if (avatar.hasGlasses) {
            <lu-form-field label="Lunettes" tooltip="Valeur entre 1 et 5">
              <lu-number-input
                [step]="1"
                [min]="1"
                [max]="5"
                [(ngModel)]="avatar.glasses"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="update()"
              />
            </lu-form-field>
          }
          <lu-form-field label="Bouche" tooltip="Valeur entre 1 et 30">
            <lu-number-input
              [step]="1"
              [min]="1"
              [max]="30"
              [(ngModel)]="avatar.mouth"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="update()"
            />
          </lu-form-field>
        </div>
      </div>
    </lu-dialog-content>

    <lu-dialog-footer>
      <div class="footer-actions">
        <button type="button" luButton="text" luDialogDismiss>Annuler</button>
        <button type="button" luButton (click)="confirm()">Valider</button>
      </div>
    </lu-dialog-footer>
  </form>
</lu-dialog>
