<lu-page-header
  [label]="pages.app"
  description="Bienvenue ! Inscris-toi pour commencer ton aventure et améliorer tes stats jour après jour."
/>

<form class="card u-displayFlex u-flexDirectionColumn u-alignItemsFlexStart pr-u-gap200 pr-u-marginTop200">
  <h2>{{ pages.signup }}</h2>
  <lu-form-field label="E-mail">
    <lu-text-input
      required
      type="text"
      placeholder="exemple@mail.com"
      [(ngModel)]="email"
      [ngModelOptions]="{ standalone: true }"
    ></lu-text-input>
  </lu-form-field>
  <lu-form-field label="Mot de passe">
    <lu-text-input
      required
      type="password"
      placeholder="********"
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
    ></lu-text-input>
  </lu-form-field>
  @if (success) {
    <lu-callout state="success">
      {{ success }}
    </lu-callout>
  }
  @if (error) {
    <lu-callout state="error" removable>
      {{ error }}
    </lu-callout>
  }
  <button type="button" luButton (click)="signUp()" [disabled]="success">S'incrire</button>
</form>
