.pageHeader {
  --components-pageHeader-padding: 0 !important;
  margin-block-end: var(--pr-t-spacings-200) !important;
}

.card {
  padding: var(--pr-t-spacings-200);
  margin-block-end: 0 !important;

  &.mod-actions {
    padding: var(--pr-t-spacings-100);
  }

  &:not(.mod-actions) {
    border: none !important;
    box-shadow: var(--pr-t-elevation-shadow-raised);
  }

  &.mod-selected {
    --components-card-border-color: var(--palettes-product-700) !important;
    --components-card-background: var(--palettes-product-50) !important;
  }

  &.mod-succeed {
    --components-card-border-color: var(--palettes-success-700) !important;
    --components-card-background: var(--palettes-success-50) !important;
  }
}

.progress {
  --components-progress-margin-vertical: 0 !important;
  --components-progress-height: var(--sizes-M-lineHeight) !important;
  font-size: var(--sizes-M-fontSize) !important;
  color: var(--palettes-neutral-0) !important;

  .progress-bar {
    overflow: hidden;
  }
}

.segmentedControl {
  --components-segmentedControl-direction: row !important;
}

.dataTableWrapper {
  --components-dataTable-overflow: auto !important;
}
