<span class="avatar-picture u-positionRelative">
  <img class="avatar-wrapper" [src]="'./assets/avatar/back/' + avatar().back + '.png'" alt="" />
  <img class="avatar-wrapper" [src]="'./assets/avatar/body/' + avatar().body + '.png'" alt="" />
  <img class="avatar-wrapper" [src]="'./assets/avatar/emotion/' + avatar().emotion + '.png'" alt="" />
  <img class="avatar-wrapper" [src]="'./assets/avatar/eyes/' + avatar().eyes + '.png'" alt="" />
  <img class="avatar-wrapper" [src]="'./assets/avatar/items/' + avatar().items + '.png'" alt="" />
  <img class="avatar-wrapper" [src]="'./assets/avatar/mouth/' + avatar().mouth + '.png'" alt="" />
  <img class="avatar-wrapper" [src]="'./assets/avatar/outfits/' + avatar().outfits + '.png'" alt="" />
</span>
