<lu-page-header
  [label]="pages.quests"
  description="Choisissez dans la liste vos quêtes en cours, ou créez-en vous une."
>
  <ng-container pageHeaderActions>
    <button type="button" luButton disabled>
      <lu-icon icon="mathsPlus" />
      Créer une quête
    </button>
  </ng-container>

  <ng-container pageHeaderNavigation>
    <lu-horizontal-navigation>
      <button
        type="button"
        *luHorizontalNavigationLink
        class="horizontalNavigation-list-item-action"
        [attr.aria-current]="currentNav === 'obligatoires' ? 'page' : null"
        (click)="setNav('obligatoires')"
      >
        Obligatoires
        <lu-tag palette="product" label="2" />
      </button>
      <button
        type="button"
        *luHorizontalNavigationLink
        class="horizontalNavigation-list-item-action"
        [attr.aria-current]="currentNav === 'optionnelles' ? 'page' : null"
        (click)="setNav('optionnelles')"
      >
        Optionnelles
        <lu-tag palette="product" label="2" />
      </button>
    </lu-horizontal-navigation>
  </ng-container>
</lu-page-header>

@if (currentNav === 'obligatoires') {
  <quests-filters [quests]="quests"></quests-filters>
  <quests-list [quests]="quests"></quests-list>
} @else {
  <quests-filters [quests]="optionnalQuests"></quests-filters>
  <quests-list [quests]="optionnalQuests"></quests-list>
}
