<lu-page-header
  [label]="pages.quests"
  description="Choisissez dans la liste vos quêtes en cours, ou créez-en vous une."
>
  @if (character.isAdmin) {
    <ng-container pageHeaderActions>
      <button type="button" luButton (click)="addQuest()">
        <lu-icon icon="mathsPlus" />
        Créer une quête
      </button>
    </ng-container>
  }

  <ng-container pageHeaderNavigation>
    <lu-horizontal-navigation>
      <button
        type="button"
        *luHorizontalNavigationLink
        class="horizontalNavigation-list-item-action"
        [attr.aria-current]="currentNav === 'toselect' ? 'page' : null"
        (click)="setNav('toselect')"
      >
        Disponibles
      </button>
      <button
        type="button"
        *luHorizontalNavigationLink
        class="horizontalNavigation-list-item-action"
        [attr.aria-current]="currentNav === 'selected' ? 'page' : null"
        (click)="setNav('selected')"
      >
        En cours
        <lu-numeric-badge [value]="dailys?.length" />
      </button>
    </lu-horizontal-navigation>
  </ng-container>
</lu-page-header>

@if (currentNav === 'toselect') {
  <quests-filters [quests]="toSelectQuests" [isDaily]="false" />
  <quests-list [quests]="toSelectQuests" [isDaily]="false" />
} @else {
  <quests-filters [dailys]="dailys" [isDaily]="true" />
  <quests-list [dailys]="dailys" [isDaily]="true" />
}
