<div
  class="grid-column card mod-actions"
  [class.mod-succeed]="isCompleted"
  [attr.style]="'--grid-colspanAtMediaMinS: 2; --grid-colspanAtMediaMinM: 1'"
>
  <div class="u-displayFlex u-justifyContentSpaceBetween u-alignItemsCenter">
    <h4>{{ quest().name }}</h4>
    @if (isCompleted) {
      <lu-tag palette="success" label="Validée" />
    }
  </div>
  <p>{{ quest().description }}</p>
  <p class="u-textS u-textNeutral">{{ quest().daysOfWeek | daysOfWeek }}</p>
  <div class="u-displayFlex u-flexWrapWrap pr-u-gap100 pr-u-marginTop50">
    @for (reward of quest().xpRewards | keyvalue; track reward.key) {
      @if (reward.key === 'force') {
        <lu-tag [palette]="isCompleted ? 'success' : 'watermelon'" [label]="'FOR +' + reward.value" />
      } @else if (reward.key === 'habilete') {
        <lu-tag [palette]="isCompleted ? 'success' : 'pineapple'" [label]="'HAB +' + reward.value" />
      } @else if (reward.key === 'tenacite') {
        <lu-tag [palette]="isCompleted ? 'success' : 'cucumber'" [label]="'TEN +' + reward.value" />
      } @else if (reward.key === 'intelligence') {
        <lu-tag [palette]="isCompleted ? 'success' : 'lagoon'" [label]="'INT +' + reward.value" />
      } @else if (reward.key === 'charisme') {
        <lu-tag [palette]="isCompleted ? 'success' : 'grape'" [label]="'CHA +' + reward.value" />
      }
    }
  </div>
  @if (!isCompleted && !readonly()) {
    <button type="button" luButton size="S" class="pr-u-marginTop100" (click)="completeQuest()">Valider</button>
  }
</div>
