<div
  class="grid-column card mod-actions"
  [class.mod-succeed]="isCompleted"
  [attr.style]="'--grid-colspanAtMediaMinS: 2; --grid-colspanAtMediaMinM: 1'"
>
  <div class="u-displayFlex u-justifyContentSpaceBetween u-alignItemsCenter">
    <h4>{{ quest().name }}</h4>
    @if (isCompleted) {
      <lu-status-badge palette="success" label="Validée" />
    } @else if (!readonly()) {
      <lu-status-badge palette="product" label="En cours" />
    }
  </div>
  <p>{{ quest().description }}</p>
  <p class="u-textS u-textNeutral">{{ quest().daysOfWeek | daysOfWeek }}</p>
  <div class="u-displayFlex u-alignItemsCenter u-justifyContentSpaceBetween pr-u-gap100 pr-u-marginTop50">
    <div class="u-displayFlex u-alignItemsCenter u-flexWrapWrap pr-u-gap100">
      <quest-rewards [quest]="quest()" [forced]="isCompleted ? 'success' : null" />
    </div>
    @if (!isCompleted && !readonly()) {
      <button type="button" luButton size="S" (click)="completeQuest()">Valider</button>
    }
  </div>
</div>
