<lu-dialog #dialog>
  <form class="dialog-inside-formOptional">
    <lu-dialog-header>
      @if (isCreation) {
        <h1>Création d'une quête</h1>
      } @else {
        <h1>Modification de la quête</h1>
      }
    </lu-dialog-header>

    <lu-dialog-content>
      @if (iQuest) {
        <div class="grid pr-u-gap200" style="--grid-columns: 2; --grid-colspan: 2">
          <div
            class="grid-column card u-displayFlex u-flexDirectionColumn pr-u-gap100"
            [attr.style]="'--grid-colspanAtMediaMinM: 1'"
          >
            <h2>Propriétés</h2>
            <lu-form-field label="Nom" [counter]="50">
              <lu-text-input required type="text" [(ngModel)]="iQuest.name" [ngModelOptions]="{ standalone: true }" />
            </lu-form-field>
            <lu-form-field label="Description" [counter]="150">
              <lu-text-input
                required
                type="text"
                [(ngModel)]="iQuest.description"
                [ngModelOptions]="{ standalone: true }"
              />
            </lu-form-field>
            <lu-form-field label="Difficulté">
              <lu-simple-select
                [options]="difficulty"
                [(ngModel)]="iQuest.difficulty"
                [ngModelOptions]="{ standalone: true }"
              />
            </lu-form-field>
            <lu-form-field label="Catégorie">
              <lu-simple-select
                [options]="categories"
                [(ngModel)]="iQuest.category"
                [ngModelOptions]="{ standalone: true }"
              />
            </lu-form-field>
          </div>
          <div
            class="grid-column card u-displayFlex u-flexDirectionColumn pr-u-gap100"
            [attr.style]="'--grid-colspanAtMediaMinM: 1'"
          >
            <h2>Bonus XP par attribut</h2>
            <lu-form-field label="Force" size="S">
              <lu-simple-select
                #selectForce
                [options]="[2, 1, 0]"
                [(ngModel)]="iQuest.force"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-container *luOption="let xp; select: selectForce">
                  {{ xps[xp].label }} (XP x{{ xps[xp].value }})
                </ng-container>
                <ng-container *luDisplayer="let xp; select: selectForce">
                  {{ xps[xp].label }}
                </ng-container>
              </lu-simple-select>
            </lu-form-field>
            <lu-form-field label="Habileté" size="S">
              <lu-simple-select
                #selectHabilete
                [options]="[2, 1, 0]"
                [(ngModel)]="iQuest.habilete"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-container *luOption="let xp; select: selectHabilete">
                  {{ xps[xp].label }} (XP x{{ xps[xp].value }})
                </ng-container>
                <ng-container *luDisplayer="let xp; select: selectHabilete">
                  {{ xps[xp].label }}
                </ng-container>
              </lu-simple-select>
            </lu-form-field>
            <lu-form-field label="Ténacité" size="S">
              <lu-simple-select
                #selectTenacite
                [options]="[2, 1, 0]"
                [(ngModel)]="iQuest.tenacite"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-container *luOption="let xp; select: selectTenacite">
                  {{ xps[xp].label }} (XP x{{ xps[xp].value }})
                </ng-container>
                <ng-container *luDisplayer="let xp; select: selectTenacite">
                  {{ xps[xp].label }}
                </ng-container>
              </lu-simple-select>
            </lu-form-field>
            <lu-form-field label="Intelligence" size="S">
              <lu-simple-select
                #selectIntelligence
                [options]="[2, 1, 0]"
                [(ngModel)]="iQuest.intelligence"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-container *luOption="let xp; select: selectIntelligence">
                  {{ xps[xp].label }} (XP x{{ xps[xp].value }})
                </ng-container>
                <ng-container *luDisplayer="let xp; select: selectIntelligence">
                  {{ xps[xp].label }}
                </ng-container>
              </lu-simple-select>
            </lu-form-field>
            <lu-form-field label="Charisme" size="S">
              <lu-simple-select
                #selectCharisme
                [options]="[2, 1, 0]"
                [(ngModel)]="iQuest.charisme"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-container *luOption="let xp; select: selectCharisme">
                  {{ xps[xp].label }} (XP x{{ xps[xp].value }})
                </ng-container>
                <ng-container *luDisplayer="let xp; select: selectCharisme">
                  {{ xps[xp].label }}
                </ng-container>
              </lu-simple-select>
            </lu-form-field>
            <lu-form-field label="Magie" size="S">
              <lu-simple-select
                #selectMagie
                [options]="[2, 1, 0]"
                [(ngModel)]="iQuest.magie"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-container *luOption="let xp; select: selectMagie">
                  {{ xps[xp].label }} (XP x{{ xps[xp].value }})
                </ng-container>
                <ng-container *luDisplayer="let xp; select: selectMagie">
                  {{ xps[xp].label }}
                </ng-container>
              </lu-simple-select>
            </lu-form-field>
          </div>
        </div>
      }
    </lu-dialog-content>

    <lu-dialog-footer>
      <div class="footer-actions">
        <button type="button" luButton="text" luDialogDismiss>Annuler</button>
        <button type="button" luButton [disabled]="isInvalidForm" (click)="confirm()">Valider</button>
      </div>
    </lu-dialog-footer>
  </form>
</lu-dialog>
