<div
  class="grid-column card mod-actions u-cursorPointer"
  [class.mod-selected]="isChecked"
  [attr.style]="'--grid-colspanAtMediaMinS: 2; --grid-colspanAtMediaMinM: 1'"
  (click)="toggleQuest()"
>
  <div class="u-displayFlex u-justifyContentSpaceBetween u-alignItemsCenter">
    <h4>{{ quest().name }}</h4>
    <lu-checkbox-input [(ngModel)]="isChecked" />
  </div>
  <p>{{ quest().description }}</p>
  <div class="u-displayFlex u-flexWrapWrap pr-u-gap100 pr-u-marginTop50">
    <quest-rewards [quest]="quest()" [forced]="isChecked ? 'product' : null" />
  </div>
</div>
