<div class="grid pr-u-marginBottom200" style="--grid-columns: 3; --grid-colspan: 3">
  <lu-highlight-data
    class="grid-column"
    [attr.style]="'--grid-colspanAtMediaMinM: 1'"
    heading="Plus longue série"
    value="3 (Yoga)"
    [bubble]="3"
    illustration="medallon"
    theme="light"
    palette="success"
  />
  <lu-highlight-data
    class="grid-column"
    [attr.style]="'--grid-colspanAtMediaMinM: 1'"
    heading="Quêtes réalisées cette semaine"
    value="10"
    [bubble]="1"
    illustration="calendar"
    theme="light"
  />
  <lu-highlight-data
    class="grid-column"
    [attr.style]="'--grid-colspanAtMediaMinM: 1'"
    heading="Score de la semaine"
    [value]="footTable.total"
    [bubble]="3"
    illustration="calculator"
    theme="dark"
  />
</div>

<div class="dataTableWrapper">
  <table class="dataTable">
    <thead class="dataTable-head">
      <tr class="dataTable-head-row">
        <th class="dataTable-head-row-cell">
          <span class="u-mask">Quête</span>
        </th>
        <th class="dataTable-head-row-cell mod-alignCenter">
          <span class="u-displayNoneAtMediaMinM">Lundi</span>
          <span class="u-displayNoneAtMediaMaxM">Lu</span>
        </th>
        <th class="dataTable-head-row-cell mod-alignCenter">
          <span class="u-displayNoneAtMediaMinM">Mardi</span>
          <span class="u-displayNoneAtMediaMaxM">Ma</span>
        </th>
        <th class="dataTable-head-row-cell mod-alignCenter">
          <span class="u-displayNoneAtMediaMinM">Mercredi</span>
          <span class="u-displayNoneAtMediaMaxM">Me</span>
        </th>
        <th class="dataTable-head-row-cell mod-alignCenter">
          <span class="u-displayNoneAtMediaMinM">Jeudi</span>
          <span class="u-displayNoneAtMediaMaxM">Je</span>
        </th>
        <th class="dataTable-head-row-cell mod-alignCenter">
          <span class="u-displayNoneAtMediaMinM">Vendredi</span>
          <span class="u-displayNoneAtMediaMaxM">Ve</span>
        </th>
        <th class="dataTable-head-row-cell mod-alignCenter">
          <span class="u-displayNoneAtMediaMinM">Samedi</span>
          <span class="u-displayNoneAtMediaMaxM">Sa</span>
        </th>
        <th class="dataTable-head-row-cell mod-alignCenter">
          <span class="u-displayNoneAtMediaMinM">Dimanche</span>
          <span class="u-displayNoneAtMediaMaxM">Di</span>
        </th>
        <th class="dataTable-head-row-cell u-fontWeight600 mod-alignRight">Total</th>
      </tr>
    </thead>
    <tbody class="dataTable-body">
      @for (item of bodyTable; track $index) {
        <tr class="dataTable-body-row">
          <th class="dataTable-body-row-cell u-whiteSpaceNoWrap u-fontWeight400" scope="row">
            {{ item.name }}
          </th>
          @for (dayOfWeek of daysOfWeek; track $index) {
            <td class="dataTable-body-row-cell mod-alignCenter">
              <div class="dungeonTable-score">
                @if (item[dayOfWeek] === null) {
                  <lu-icon color="placeholder" icon="mathsMinus" size="XL" />
                }
                @if (item[dayOfWeek] >= 3) {
                  <lu-icon color="success" icon="signConfirm" size="XL" />
                }
                @if (item[dayOfWeek] >= 2) {
                  <lu-icon color="success" icon="signConfirm" size="XL" />
                }
                @if (item[dayOfWeek] >= 1) {
                  <lu-icon color="success" icon="signConfirm" size="XL" />
                }
                @if (item[dayOfWeek] === 0) {
                  <lu-icon color="warning" icon="mathsMinus" size="XL" />
                }
                @if (item[dayOfWeek] <= -1) {
                  <lu-icon color="error" icon="signClose" size="XL" />
                }
                @if (item[dayOfWeek] <= -2) {
                  <lu-icon color="error" icon="signClose" size="XL" />
                }
                @if (item[dayOfWeek] <= -3) {
                  <lu-icon color="error" icon="signClose" size="XL" />
                }
              </div>
            </td>
          }
          <td class="dataTable-body-row-cell u-fontWeight600 mod-alignRight">
            <span [ngClass]="getColor(item.total)">{{ item.total }}</span>
          </td>
        </tr>
      }
    </tbody>
    <tfoot class="dataTable-foot">
      <tr class="dataTable-foot-row">
        <th class="dataTable-foot-row-cell" scope="row">Total</th>
        @for (dayOfWeek of daysOfWeek; track $index) {
          <td class="dataTable-foot-row-cell mod-alignCenter">
            <span [ngClass]="getColor(footTable[dayOfWeek])">{{ footTable[dayOfWeek] }}</span>
          </td>
        }
        <td class="dataTable-foot-row-cell mod-alignRight">
          <span [ngClass]="getColor(footTable.total)">{{ footTable.total }}</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
