<ul class="segmentedControl" role="presentation">
  @for (category of categories; track category) {
    <li class="segmentedControl-item">
      <input
        type="radio"
        class="segmentedControl-item-input"
        name="tab"
        [id]="'tab-' + category"
        [value]="category"
        [ngModel]="filter"
        (ngModelChange)="changeFilter($event)"
      />
      <label [for]="'tab-' + category" class="segmentedControl-item-action">
        {{ category ? category : 'Toutes' }}
        @if (getQuestsByFilter(category).length; as nbQuest) {
          <span class="numericBadge">{{ nbQuest }}</span>
        }
      </label>
    </li>
  }
</ul>
