@if (dailyQuests.length) {
  <div class="u-displayFlex u-flexDirectionColumn pr-u-gap200">
    @if (todayQuests.length) {
      <section class="card">
        <div class="u-displayFlex u-alignItemsCenter pr-u-gap100">
          <h2 class="u-h3">Aujourd'hui</h2>
          <lu-tag [label]="today | dayOfWeek" palette="product" size="L" />
        </div>
        <div class="grid pr-u-marginTop100" style="--grid-columns: 4; --grid-colspan: 4">
          @for (quest of todayQuests; track quest.id) {
            <daily-card [currentDate]="today" [quest]="quest" [readonly]="false" [isOld]="false" />
          }
        </div>
      </section>
    }
    @if (yesterdayQuests.length) {
      <section class="card">
        <div class="u-displayFlex u-alignItemsCenter u-justifyContentSpaceBetween pr-u-gap200">
          <div class="u-displayFlex u-alignItemsCenter pr-u-gap100">
            <h2 class="u-h3">{{ index === 1 ? 'Hier' : 'Avant-hier' }}</h2>
            <lu-tag [label]="yesterday | dayOfWeek" palette="neutral" size="L" />
          </div>
          <div class="u-displayFlex u-alignItemsCenter pr-u-gap100">
            <button type="button" luButton="outlined" size="S" (click)="previousDate()" [disabled]="index === 2">
              <lu-icon icon="chevronLeft" alt="Voir avant-hier" />
            </button>
            <button type="button" luButton="outlined" size="S" (click)="nextDate()" [disabled]="index === 1">
              <lu-icon icon="chevronRight" alt="Voir hier" />
            </button>
          </div>
        </div>
        <div class="grid pr-u-marginTop100" style="--grid-columns: 4; --grid-colspan: 4">
          @for (quest of yesterdayQuests; track quest.id) {
            <daily-card [currentDate]="yesterday" [quest]="quest" [readonly]="false" [isOld]="true" />
          }
        </div>
      </section>
    }
    @if (tomorrowQuests.length) {
      <section class="card">
        <div class="u-displayFlex u-alignItemsCenter pr-u-gap100">
          <h2 class="u-h3">Demain</h2>
          <lu-tag [label]="tomorrow | dayOfWeek" palette="neutral" size="L" />
        </div>
        <div class="grid pr-u-marginTop100" style="--grid-columns: 4; --grid-colspan: 4">
          @for (quest of tomorrowQuests; track quest.id) {
            <daily-card [currentDate]="tomorrow" [quest]="quest" [readonly]="true" [isOld]="true" />
          }
        </div>
      </section>
    }
  </div>
} @else {
  <div class="card">
    <lu-empty-state-section
      hx="3"
      icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperAction.svg"
      heading="Aucune quête en cours"
      description="Vous pouvez aller en sélectionner dans la liste des quêtes."
    >
      <a routerLink="/quests" luButton>
        <lu-icon icon="mathsPlus" />
        Voir les quêtes disponibles
      </a>
    </lu-empty-state-section>
  </div>
}
