@if (getByFilters(); as filteredQuests) {
  <div class="u-displayFlex u-flexDirectionColumn pr-u-gap200 pr-u-marginTop200">
    @if (filteredQuests.length) {
      @if (getByDifficulty(filteredQuests, QuestDifficulty.COMPLEXE); as complexeQuests) {
        <section class="card">
          <h2 class="u-h3 u-displayFlex u-alignItemsCenter pr-u-gap100">
            <span>Quêtes de difficulté</span>
            <lu-status-badge palette="error" [label]="QuestDifficulty.COMPLEXE" />
          </h2>
          <div class="grid pr-u-marginTop100" style="--grid-columns: 4; --grid-colspan: 4">
            @for (quest of complexeQuests; track quest.id) {
              <quest-card [quest]="quest" [isDaily]="isDaily()" />
            }
          </div>
        </section>
      }
      @if (getByDifficulty(filteredQuests, QuestDifficulty.STANDARD); as standardQuests) {
        <section class="card">
          <h2 class="u-h3 u-displayFlex u-alignItemsCenter pr-u-gap100">
            <span>Quêtes de difficulté</span>
            <lu-status-badge palette="warning" [label]="QuestDifficulty.STANDARD" />
          </h2>
          <div class="grid pr-u-marginTop100" style="--grid-columns: 4; --grid-colspan: 4">
            @for (quest of standardQuests; track quest.id) {
              <quest-card [quest]="quest" [isDaily]="isDaily()" />
            }
          </div>
        </section>
      }
      @if (getByDifficulty(filteredQuests, QuestDifficulty.SIMPLE); as simpleQuests) {
        <section class="card">
          <h2 class="u-h3 u-displayFlex u-alignItemsCenter pr-u-gap100">
            <span>Quêtes de difficulté</span>
            <lu-status-badge palette="success" [label]="QuestDifficulty.SIMPLE" />
          </h2>
          <div class="grid pr-u-marginTop100" style="--grid-columns: 4; --grid-colspan: 4">
            @for (quest of simpleQuests; track quest.id) {
              <quest-card [quest]="quest" [isDaily]="isDaily()" />
            }
          </div>
        </section>
      }
    } @else {
      <div class="card">
        <lu-empty-state-section
          hx="3"
          icon="https://cdn.lucca.fr/lucca-front/assets/empty-states/icons/iconPaperAction.svg"
          heading="Aucune quête disponible"
          description="Tu peux peut-être changer les filtres."
        />
      </div>
    }
  </div>
}
