<lu-page-header [label]="pages.dashboard">
  <ng-container pageHeaderNavigation>
    <lu-horizontal-navigation>
      <button
        type="button"
        *luHorizontalNavigationLink
        class="horizontalNavigation-list-item-action"
        [attr.aria-current]="currentNav === 'daily-list' ? 'page' : null"
        (click)="setNav('daily-list')"
      >
        Quêtes journalières
      </button>
      <button
        type="button"
        *luHorizontalNavigationLink
        class="horizontalNavigation-list-item-action"
        [attr.aria-current]="currentNav === 'historic-table' ? 'page' : null"
        (click)="setNav('historic-table')"
      >
        Historique
      </button>
    </lu-horizontal-navigation>
  </ng-container>
</lu-page-header>

@if (currentNav === 'daily-list') {
  <daily-list />
} @else if (currentNav === 'historic-table') {
  <historic-table />
}
