<lu-page-header
  [label]="pages.params"
  description="Gère ton profil, renomme ton personnage et maîtrise les réglages de ton aventure."
/>

<!--lu-callout state="warning">Attention : certaines actions sont irréversibles.</lu-callout-->

<div class="grid pr-u-marginTop200">
  <div class="grid-column card" [attr.style]="'--grid-colspan: 12; --grid-colspanAtMediaMinM: 4'">
    <h2 class="pr-u-marginBottom150">Personnage</h2>
    <span class="avatar mod-XXL pr-u-marginBottom150">
      <avatar [avatar]="character.avatar" />
    </span>
    <p>
      Nom : <b>{{ character.lastName }} {{ character.firstName }}</b>
    </p>
    <p>Niveau : <b>Débutant</b></p>
    <button type="button" luButton size="S" class="pr-u-marginTop200" (click)="modifyCharacter()">Modifier</button>
  </div>

  <div class="grid-column card" [attr.style]="'--grid-colspan: 12; --grid-colspanAtMediaMinM: 4'">
    <h2 class="pr-u-marginBottom150">Quêtes</h2>
    <p>
      Nombre de quêtes en cours : <b>{{ dailys?.length ?? 0 }}</b>
    </p>
    <p>
      Nombre de quêtes réalisées : <b>{{ logs?.length ?? 0 }}</b>
    </p>
  </div>

  <div class="grid-column card" [attr.style]="'--grid-colspan: 12; --grid-colspanAtMediaMinM: 4'">
    <h2 class="pr-u-marginBottom150">Compte</h2>
    <p>
      Mode Premium : <b>{{ character.isAdmin ? 'Activé' : 'Désactivé' }}</b>
    </p>
  </div>
</div>
